.navbar {
    background: var(--black-pure);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 100px;
    padding: 10px;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px 20px;
}

.redes img {
    width: 80px;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
}

header {
    background: var(--black-smokie);
}

.contenedor-hero {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-nordic {
    font-family: var(--nordic-font);
}

.display-nordic-clr {
    color: var(--white-village);
}

main {
    min-height: 100vh;
}

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
    height: 25vh;
	background: var(--black-smokie);
	padding: 20px;
	border-radius: 3px;
    position: sticky;
    top: 20px;
}

.nav-color{
    height: 40vh;
}

aside .titulo {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 20px;
	color: var(--white-letter);
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: var(--yellow-butter);
}

.contenido{
    margin: 20px;
    padding: 2px;
}

.nav-list{
    padding-left: 10px;
}

.nav-list a{
    color: var(--white-letter) !important;
}


table{
    margin: 15px;
    width: 800px;
}
table thead{
    background: #000;
    color: #fff;
}
table th, td{
    border: medium solid #000;
    height: 30px;
}
table td{
    text-align: center;
}
.t-titulo{
    font-weight: bold;
}
