.barra{
	background: var(--negro);
	color: var(--gris);
	margin-top: 0;
	position: sticky;
	top: 0;
	z-index: 999;
}

.nav {
	background: var(--negro);
	display: flex;
	flex-wrap: wrap;
}

.nav .contenedor {
	display: flex;
	flex-wrap: wrap;
	margin: 0px auto;
}

.nav a {
	color: var(--blanco);
	text-decoration: none;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 15px 25px;
	transition: .3s ease all;
	font-size: 18px;
}

.nav a.activo,
.nav a:hover {
	background: var(--gris);
}


/* ========== 👉 Menú Temario ========== */
.temario{
	padding: 0 15px;
}

.temario_titulo{
	margin-bottom: 10px;
}

.temario_contenedor{
	padding: 20px;
	margin-top: 70px;
}

.temario_lista{
	border-left: 2px solid var(--gris);
	padding-left: 10px;
	margin-left: 10px;
}

.temario_lista--li{
	position: relative;

	&:hover::before{
		border: 2px solid var(--naranja);
	}

	&.activo::before{
		background: var(--rojo);
		border: 3px solid var(--naranja);
	}

	&.activo .temario_link{
		color: var(--negro);
		font-weight: 700;
	}

	&::before{
		content: '';
		display: block;
		height: 12px;
		width: 12px;
		background: var(--fondo);
		border: 2px solid var(--amarillo);
		position: absolute;
		left: -17px;
		transform: rotate(45deg);
		top: calc(50% - 6px);
		transition: .3s ease all;
	}
}

.temario_link{
	display: block;
	color: #5a5a5a;
	padding: 15px 10px;
	transition: .3s ease all;

	&:hover{
		color: var(--negro);
		font-weight: 700;
	}
}
