<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 👉 Framework  -->
    <link rel="stylesheet" href="/css/main.css">
    <title>Boton 6</title>

    <style>
        pre{
            background: black;
            color: aliceblue;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    </style>
<body>

    <header class="contenedor-ancho texto-centrado">
		<h1 class="titulo" id="#botones"><a href="/view/botones.html">Botones </a></h1>
	</header>

    <div class="contenedor grid col-3 col-1">
        <div class="span-1 med-span-3">
            <a class="falconBtn btn-6" href="/view/botones.html">
                <span>Botón 6</span>
                <svg>
                    <rect x="0" y="0" fill="none"></rect>
                </svg>
            </a>
        </div>
        <div class="span-2 med-span-3">
      
                <h2>HTML</h2>
                <pre>
                    &lt;a class="falconBtn btn-6"&gt;
                        &lt;span&gt;Botón 6&lt;/span&gt;
                        &lt;svg&gt;
                            &lt;rect x="0" y="0" fill="none"&gt;&lt;/rect&gt;
                        &lt;/svg&gt;
                    &lt;/a&gt;
                </pre>   

 
                <h2>CSS</h2>
                <pre>
                    .falconBtn.btn-6 {
                        background: none;
                        color: var(--negro);
                      }
                      .falconBtn.btn-6 svg {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        fill: none;
                      }
                      .falconBtn.btn-6 rect {
                        width: 100%;
                        height: 100%;
                        stroke: var(--negro);
                        stroke-width: 10px;
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                        transition: 0.9s ease all;
                      }
                      .falconBtn.btn-6:hover rect {
                        stroke-dashoffset: 0;
                      }
                </pre>
        </div>
    </div>    
</body>
</html>