<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 👉 Framework  -->
    <link rel="stylesheet" href="/css/main.css">
    <title>Boton 4</title>

    <style>
        pre{
            background: black;
            color: aliceblue;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    </style>
<body>

    <header class="contenedor-ancho texto-centrado">
		<h1 class="titulo" id="#botones"><a href="/view/botones.html">Botones </a></h1>
	</header>

    <div class="contenedor grid col-3 col-1">
        <div class="span-1 med-span-3">
            <a class="falconBtn btn-4" href="/view/botones.html"><span>Botón 4</span></a>
        </div>
        <div class="span-2 med-span-3">
      
                <h2>HTML</h2>
                <pre>
                    &lt;a class="falconBtn btn-4"&gt;
                        &lt;span&gt;Botón &lt;/span&gt;
                    &lt;/a&gt;                                   
                </pre>   

 
                <h2>CSS</h2>
                <pre>
                    .falconBtn.btn-4::after {
                        content: "";
                        width: 1px;
                        height: 1px;
                        background: none;
                        position: absolute;
                        z-index: 1;
                        top: 50%;
                        left: 47%;
                        transition: 0.9s ease-in-out all;
                        border-radius: 100px;
                        transform-origin: center;
                      }
                      .falconBtn.btn-4:hover::after {
                        transform: scale(300);
                        background: var(--rojo);
                      }
                      .falconBtn.btn-4:hover {
                        background: #960909;
                      }
                </pre>
        </div>
    </div>
    
</body>
</html>