<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 👉 Framework  -->
    <link rel="stylesheet" href="../css/main.css">
    <title>Botones  | Framework</title>
</head>
<body>

    <header class="contenedor-ancho texto-centrado">
		<h1 class="titulo" id="#botones"><a href="../index.html">Botones</a></h1>
	</header>

    <section class="span-3 texto-centrado">
        <div class="contenedor">
            <div class="contenedor grid col-3">
                <h3 class="titulo span-3">Botones Falcon Animados</h3>
                <a class="falconBtn btn-1" href="code/btn-1.html"><span>Botón 1</span></a>
                <a class="falconBtn btn-2" href="code/btn-2.html"><span>Botón 2</span></a>
                <a class="falconBtn btn-3" href="code/btn-3.html"><span>Botón 3</span></a>
                <a class="falconBtn btn-4" href="code/btn-4.html"><span>Botón 4</span></a>                
                <a class="falconBtn btn-5" href="code/btn-5.html">
                    <div class="icono">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg>
                    </div>
                    <span>Botón 5</span>
                </a>
                <a class="falconBtn btn-6" href="code/btn-6.html">
                    <span>Botón 6</span>
                    <svg>
                        <rect x="0" y="0" fill="none"></rect>
                    </svg>
                </a>
            </div>				
        </div>
    </section>
    
</body>
</html>