<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="./odin-assets/png/logo-odin-3.png"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../odin-assets/css/personalizado-odin.css" />
    <title>Odin Framework CSS</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="../index.html">
            <img src="../odin-assets/sin-fondo/logo-odin-4-sin-fondo.png" alt="logo odin css"/>
        </a>
        <div class="redes">
          <a href="https://github.com/CRISTIAN3322/odin-css-framework"
            ><img src="../iconos/Github-2.svg" alt="Icono GitHub"
          /></a>
          <img src="../iconos/Gmail.svg" alt="" />
        </div>
      </nav>
    </header>

    <main class="contenedor grid col-3">
      <aside class="span-1 nav-color">
				<h3 class="titulo">🪓 Indice</h3>
				<nav class="indice">
            <a href="#colores">Colores</a>
            <ul class="nav-list">
              <ol><a href="#verde">Tono Verde</a></ol>
              <ol><a href="#negro">Tono Negro</a></ol>
              <ol><a href="#morado">Tono Morado</a></ol>
              <ol><a href="#azul">Tono Azul</a></ol>
            </ul>                   
				</nav>
			</aside>
      <div class="contenido span-2">
        <h1 class="display-1 display-nordic" id="colores">Colores:</h1>
        <p>
          Listado de las variables CSS de los colores. 
        </p>
        <table>
          <thead>
            <tr>
              <th colspan="3" id="verde">Tono Verde</th>
            <tr>
            <tr>
              <th>Variable:</th>
              <th>Código RGB:</th>
              <th>Color:</th>            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="t-titulo">--green-pure</td>
              <td>rgb(0, 143, 57)</td>
              <td style="background: var(--green-pure)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-hunter</td>
              <td>rgb(75, 149, 96)
              <td style="background: var(--green-hunter)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-mint</td>
              <td>rgb(142, 221, 101)</td>
              <td style="background: var(--green-mint)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-fern</td>
              <td>rgb(0, 184, 79)</th>
              <td style="background: var(--green-fern)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-grinch</td>
              <td>rgb(68, 214, 44)</td>
              <td style="background: var(--green-grinch)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-pine</td>
              <td>rgb(40, 97, 64)</td>
              <td style="background: var(--green-pine)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-pistacho</td>
              <td>rgb(161, 216, 132)</td>
              <td style="background: var(--green-pistacho)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-slime</td>
              <td>rgb(151, 215, 0)</td>
              <td style="background: var(--green-slime)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-olive</td>
              <td>rgb(116, 170, 80)</td>
              <td style="background: var(--green-olive)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--green-teal</td>
              <td>rgb(32, 201, 151)</td>
              <td style="background: var(--green-teal)"></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="3" id="negro">Tono Negro</th>
            <tr>
            <tr>
              <th>Variable:</th>
              <th>Código RGB:</th>
              <th>Color:</th>            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="t-titulo">--black-pure</td>
              <td>rgb(0, 0, 0)</td>
              <td style="background: var(--black-pure)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--black-cinder</td>
              <td>rgb(33, 35, 34)</td>
              <td style="background: var(--black-cinder)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--black-tabaco</td>
              <td>rgb(45, 41, 38)</td>
              <td style="background: var(--black-tabaco)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--black-anchor</td>
              <td>rgb(38, 31, 42)</td>
              <td style="background: var(--black-anchor)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--black-smokie</td>
              <td>rgb(37, 40, 42)</td>
              <td style="background: var(--black-smokie)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--black-charcoal</td>
              <td>rgb(29, 37, 45)</td>
              <td style="background: var(--black-charcoal)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--black-neutral</td>
              <td>rgb(34, 34, 35)</td>
              <td style="background: var(--black-neutral)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--black-deep</td>
              <td>rgb(16, 24, 32)</td>
              <td style="background: var(--black-deep)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--black-renaissance</td>
              <td>rgb(19, 30, 41)</td>
              <td style="background: var(--black-renaissance)"></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="3" id="morado">Tono Morado</th>
            <tr>
            <tr>
              <th>Variable:</th>
              <th>Código RGB:</th>
              <th>Color:</th>            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="t-titulo">--purple-pure</td>
              <td>rgb(87, 35, 100)</td>
              <td style="background: var(--purple-pure)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-pale</td>
              <td>rgb(104, 91, 199)</td>
              <td style="background: var(--purple-pale)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-ursula</td>
              <td>rgb(78, 0, 142)</td>
              <td style="background: var(--purple-ursula)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-ice-cream</td>
              <td>rgb(139, 132, 215)</td>
              <td style="background: var(--purple-ice-cream)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-grapejuice</td>
              <td>rgb(846, 0, 139)</td>
              <td style="background: var(--purple-grapejuice)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-lavender</td>
              <td>rgb(150, 120, 211)</td>
              <td style="background: var(--purple-lavender)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-eggplant</td>
              <td>rgb(68, 0, 153)</td>
              <td style="background: var(--purple-eggplant)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-glossy</td>
              <td>rgb(117, 59, 189)</td>
              <td style="background: var(--purple-glossy)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-royal</td>
              <td>rgb(112, 47, 138)</td>
              <td style="background: var(--purple-royal)"></td>
            </tr>
            <tr>
              <td class="t-titulo">--purple-indigo</td>
              <td>rgb(102, 16, 242)</td>
              <td style="background: var(--purple-indigo)"></td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th colspan="3" id="azul">Tono Azul</th>
            <tr>
            <tr>
              <th>Variable:</th>
              <th>Código RGB:</th>
              <th>Color:</th>            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="t-titulo">--blue-pure</td>
              <td>rgb(0, 0, 255)</td>
              <td style="background: var(--blue-pure)"></td>
            </tr>            
            <tr>
              <td class="t-titulo">--blue-sky</td>
              <td>rgb(48, 127, 226)</td>
              <td style="background: var(--blue-sky)"></td>
            </tr>            
            <tr>
              <td class="t-titulo">--blue-navy</td>
              <td>rgb(0, 51, 160)</td>
              <td style="background: var(--blue-navy)"></td>
            </tr>            
            <tr>
              <td class="t-titulo">--blue-maya</td>
              <td>rgb(0, 156, 222)</td>
              <td style="background: var(--blue-maya)"></td>
            </tr>            
            <tr>
              <td class="t-titulo">--blue-yale</td>
              <td>rgb(0, 94, 184)</td>
              <td style="background: var(--blue-yale)"></td>
            </tr>            
            <tr>
              <td class="t-titulo">--blue-king</td>
              <td>rgb(16, 6, 159)</td>
              <td style="background: var(--blue-king)"></td>
            </tr>            
            <tr>
              <td class="t-titulo">--blue-baby</td>
              <td>rgb(105, 179, 231)</td>
              <td style="background: var(--blue-baby)"></td>
            </tr>            
            <tr>
              <td class="t-titulo">--blue-azure</td>
              <td>rgb(0, 114, 206)</td>
              <td style="background: var(--blue-azure)"></td>
            </tr>            
            <tr>
              <td class="t-titulo">--blue-serenity</td>
              <td>rgb(58, 93, 174)</td>
              <td style="background: var(--blue-serenity)"></td>
            </tr>            
          </tbody>
        </table>
      </div>
    </main>

      