<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 👉 Framework  -->
    <link rel="stylesheet" href="../css/main.css">
    <title>Displays  | Framework</title>

    <style>
        pre{
            background: black;
            color: aliceblue;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <header class="contenedor-ancho texto-centrado">
		<h1 class="titulo" id="#botones"><a href="../index.html">Display</a></h1>
	</header>

    <section class="contenedor">
        <div class="card">
            <h1 class="display-1">Display 1</h1>
                <pre>
                    .display-1 {
                        font-weight: 600;
                        font-size: 4rem;
                      }
                </pre>
        </div>
        <div class="card">
            <h1 class="display-2">Display 2</h1>
                <pre>
                    .display-2 {
                        font-weight: 700;
                        font-size: 3.375rem;
                      }
                </pre>
        </div> 
        <div class="card">
            <h1 class="display-3">Display 3</h1>
                <pre>
                    .display-3 {
                        font-weight: 500;
                        font-size: 2.75rem;
                      }
                </pre>
        </div>   
    </section>
    
</body>
</html>